@model IEnumerable<ApplicationUser>

    <div class="container">

        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.UserName</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.EmailConfirmed</td>

                            <td>
                                <a class="btn btn-warning" asp-controller="Admin" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>
                                <form action="/Admin/DeleteUser" method="post">
                                    <input type="hidden" name="UserId" value="@item.Id" />
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>


            </table>

        </div>
    </div>