@model OrderModel
@{
    var cartItems= ((CartModel)ViewData["Cart"]).CartItems;
    var cart= ((CartModel)ViewData["Cart"]);
}
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Order" asp-action="CompleteOrder" method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <input asp-for="@Model.FullName" type="text" class="form-control" id="a" placeholder="Full Name">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.City" type="text" class="form-control" id="b" placeholder="City">
                    <span class="text-danger" asp-validation-for="City"></span>

                </div>
                <div class="form-group">
                    <input asp-for="@Model.Adress" type="text" class="form-control" id="b" placeholder="Address">
                    <span class="text-danger" asp-validation-for="Adress"></span>

                </div>

                <div class="form-group">
                    <textarea asp-for="@Model.ExtraDetails" type="text" class="form-control" id="b" placeholder="Extra Details"></textarea>

                </div>
                <div class="form-group">
                    <input asp-for="@Model.PhoneNumber" type="text" class="form-control" id="b" placeholder="Phone No">
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                </div>
                <div class="form-group">
                    <input asp-for="@Model.Email" type="email" class="form-control" id="b" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <input type="hidden" name="TotalPrice" value="@cart.TotalPrice" />

                @for (int i = 0; i < cart.CartItems.Count(); i++)
                {
                    <input asp-for="@cart.CartItems[i].ImageUrl" type="hidden" />
                    <input asp-for="@cart.CartItems[i].Name" type="hidden" />
                    <input asp-for="@cart.CartItems[i].ProductId" type="hidden" />
                    <input asp-for="@cart.CartItems[i].Price" type="hidden" />
                    <input asp-for="@cart.CartItems[i].Quantity" type="hidden" />

                }





                <button type="submit" class="btn btn-primary">Complete Order</button>
            </form>
        </div>
        <div class="col-md-4">

            @foreach (var item in cart.CartItems)
            {
                <div class="cart-item d-flex">
                    <img width="100" src="~/img/@item.ImageUrl" />
                    <div>
                        <p>@item.Name</p>
                        <p>Price - @item.Price.ToString("G29")</p>
                        <p>Quantity - @item.Quantity</p>
                    </div>
                </div>
                <hr />
            }

            <div>@cart.TotalPrice.ToString("G29")<span>&#8380;</span></div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}    